In [ ]:
# Esto es un comentario
print("Hola Mundo")  # Esto imprime "Hola Mundo"

Hola Mundo

In [ ]:
!ls -a

.  ..  .config	sample_data

In [ ]:
print("Hola", "Mundo")

print("Hola" + "Mundo")

print("Hola", "Mundo", sep="-")  # Imprime: Hola-Mundo

print("Hola", end="")
print("Mundo")  # Imprime: HolaMundo

Hola Mundo
HolaMundo
Hola-Mundo
HolaMundo

In [ ]:
nombre = "Omar"
carrera = "ICO, la mejor"
print("Mi nombre es {} y estudio {} en la FES Aragón".format(nombre, carrera))
print(f"Mi nombre es {nombre} y estudio {carrera} dentro de la Fes ")

Mi nombre es Omar y estudio ICO, la mejor en la FES Aragón
Mi nombre es Omar y estudio ICO, la mejor dentro de la Fes

In [ ]:
# Operadores aritméticos
suma = 5 + 3    # 8
resta = 5 - 3   # 2
producto = 5 * 3  # 15
division = 5 / 3  # 1.66667
division2 = 5 // 3 # 1
modulo = 5 % 3   # 2
potencia = 5 ** 3  # 125

In [ ]:
  modulo

2

In [ ]:
# Operadores de comparación
igual = 3 == 3  #   True
diferente = 5 != 5  # False
mayor_que = 3 > 3  # True 
menor_que = 3 < 5  # False
mayor_o_igual_que = 5 >= 3  # True
menor_o_igual_que = 5 <= 3  # False

In [ ]:
mayor_que

True

In [ ]:
# Operadores lógicos
y = False and False  # False
o = False or True  # True
no = not False  # True

In [ ]:
print(no)

False

In [ ]:
saludo = "Hola Mundo"
cita = 'Los alumnos de ICO dicen:\n"Hola \tMundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""

In [ ]:
print(cita)

Los alumnos de ICO dicen:
"Hola 	Mundo"

In [ ]:
def fn_uno():
    print("Hola")

a, b, c = 10, "Hola",fn_uno
print(a)
print(b)
c.__call__()

10
Hola
Hola

In [ ]:
# entrada por teclado
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")

Por favor, introduce tu nombre: Omar
Hola Omar!

In [ ]:
numero = int(20)
print(numero)

20
Introduce tu edad:22
Omar tiene 22 años

In [ ]:
edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene {edad} años")

Introduce tu edad:22
Omar tiene 22 años

In [ ]:
mensaje = "Hola Mundo"  # String
edad = 20               # Integer
pi = 3.14159            # Float
es_mayor = True         # Boolean
imaginario = 3 + 4j     # Imaginario

In [ ]:
edad

20

In [ ]:
mensaje

'Hola Mundo'

In [ ]:
pi*2.0

6.28318

In [ ]:
imaginario

(3+4j)

In [ ]:
#          0        1         2
#         -3       -2        -1

frutas=['limon','aguacate','fresa']
print(frutas[-1], frutas [2])

fresa fresa

In [ ]:
cosas = ['fresas',10, 3.1416,True, [0,1,2,3], "hola"]
print(cosas)

['fresas', 10, 3.1416, True, [0, 1, 2, 3], 'hola']

# Slicing en Python

Es la posibilidad  de obtener rebanadas a partir de un tipo de datos lista o tupla, en general un iterable. Un tipo de dato String es iterable.

Por defecto:

inicio = 0

stop es igual al tamaño de la variable

step = 1

In [ ]:
ejemplo = [1,2,3,4,5,6, 'a','b','c','d','e']
print(ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [ ]:
rebanada = ejemplo[6:9:2]
print(rebanada)

['a', 'c']

In [ ]:
frutas_dos= ('Aguacate', 'Limon', 'Naranja')
print(frutas)
print(frutas_dos)

frutas[0]= 'Piña'
#Esto de abajo no se puede por ser una tupla en vez de una lista
#frutas_dos[0] ='Piña'  

print(frutas[0])
print(frutas_dos[0])


print(frutas_dos[1:2:1])
print(frutas_dos[-1])

['Piña', 'aguacate', 'fresa']
('Aguacate', 'Limon', 'Naranja')
Piña
Aguacate
('Limon',)
Naranja

#Diccionarios teoría


-Es un conjunto de pares "llave-valor"

1. Agrupados por ':'
1. La llave siempre es de tipo String
1. El valor puede ser de cualquier tipo
1. El selector de la forma llave
1. Mutable
1. Se declara entre los caracteres "{" y "}"
1. Los pares están separados por ","

In [ ]:
alumno = {'numero de cuenta': 316266124, 'carrera':'ICO',
            'direccion': {'calle':'rancho seco', 'numero': 7}
          }

print(alumno['direccion']['calle'][3:6:1])

cho